<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTMX Test</title>
        <script src="htmx.min.js"></script>
        <script>
            function validate(key) {
                let value = document.getElementById(key).value;
                if ((key == 'price' || key == 'count') && !value.match(/[0-9]+/g)) {
                    document.getElementById(key + '-error').classList.remove('hidden');

                }
                else if(key == 'item' && document.querySelector(`input[name="${value}"]`) != null) {
                    console.log(document.querySelector(`input[name="${value}"]`))
                    document.getElementById(key + '-error').classList.remove('hidden');

                }
            }
        </script>
        <link rel="stylesheet" type="text/css" href="main.css">

    </head>
    <body>
        <h2>HTMX Test</h2>
        <div class="flex controls">
            <div><input type="button" hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" value="Add Item" /></div>
            <div><input type="button" hx-get="/clear" hx-target="#records" value="Clear Checked" /></div>
        </div>
        <div hx-get="/records" hx-trigger="load" id="records"></div>


        <div class="modal hidden" tabindex="-1" id="modal">
            <div class="modal-body">
                <h2>Add Item</h2>
                <a hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" class="x">X</a>
                <form>
                    <div id="category-container" hx-get="/categories" hx-trigger="load"></div>
                    <div id="item-container" hx-get="/items?category=100" hx-trigger="load"></div>
                    <div class="flex">
                        <div>
                            <label for="count">Count</label>
                            <input type="number" name="count" id="count" required class="form-input" hx-on:htmx:validation:validate="validate('count')"/>
                            <span class="error hidden" id="count-error">Count must be numeric</span>
                        </div>
                        <div>
                            <label for="price">Price</label>
                            <input type="number" name="price" id="price" required class="form-input" hx-on:htmx:validation:validate="validate('price')"/>
                            <span class="error hidden" id="price-error">Price must be numeric</span>
                        </div>
                    </div>
                    <div>
                        <br />
                        <input type="button" value="Add Item" hx-post="/records" hx-target="#records"  hx-validate="true" /> <!--hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" /> -->
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>