<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTMX Test</title>
        <link rel="stylesheet" type="text/css" href="/src/main.css">
        <script src="/src/htmx.min.js"></script>
        <script src="/src/cookie.js"></script>
        <script>
            window.addEventListener('load',() =>{
                let c = Cookie.getCookie('_fe-c');
                if (c && JSON.parse(c).colorScheme == 'dark') {
                    document.querySelector(":root").style.setProperty('color-scheme', 'dark')
                }
            });

            function toggleDark() {
                const root = htmx.find(":root");
                let colorScheme = root.style.getPropertyValue('color-scheme');
                colorScheme = (colorScheme == 'dark' ? 'light' : 'dark');
                root.style.setProperty('color-scheme', colorScheme)
                let value = JSON.stringify({colorScheme:colorScheme});
                Cookie.setCookie('_fe-c', value)
            }

            function addRecord() {
                let errors = 0;
                let values = {'price':'', 'count':'', 'item':'', 'category':''}; 
                htmx.findAll('.error').forEach((e) => htmx.addClass(e, 'hidden'))

                for(key in values) {
                    values[key] = htmx.find('#' + key).value;
                    if ((key == 'price' || key == 'count') && !values[key].match(/[0-9]+/g)) {
                        htmx.removeClass(`#${key}-error`, 'hidden');
                        errors++;
                    }
                    else if(key == 'item' && document.querySelector(`input[name="${values[key]}"]`) != null) {
                        htmx.removeClass(`#${key}-error`, 'hidden');
                        errors++;
                    }
                }

                if (errors == 0) {
                    htmx.ajax('POST', '/records', {values :values ,target :'#records'})
                    htmx.toggleClass(htmx.find('.modal'),'hidden');
                }              
            }

        </script>

    </head>
    <body>
        <div class="flex controls">
            <div><h2>HTMX Test</h2></div>
            <div id="dark-toggle">
                <a hx-on:click="toggleDark()">&#9681;</a>
            </div>
        </div>
        <div class="flex controls">
            <div><input type="button" hx-on:click="htmx.removeClass(htmx.find('.modal'),'hidden')" value="Add Item" /></div>
            <div><input type="button" hx-get="/clear" hx-target="#records" value="Clear Checked" /></div>
        </div>
        <div hx-get="/records" hx-trigger="load" id="records"></div>


        <div class="modal hidden" tabindex="-1" id="modal">
            <div class="modal-body">
                <h2>Add Item</h2>
                <a hx-on:click="htmx.addClass(htmx.find('.modal'),'hidden')" class="x">X</a>
                <form id="recordForm">
                    <div id="category-container" hx-get="/categories" hx-trigger="load"></div>
                    <div id="item-container" hx-get="/items?category=100" hx-trigger="load"></div>
                    <div class="flex">
                        <div>
                            <label for="count">Count</label>
                            <input type="number" name="count" id="count" class="form-input" />
                            <span class="error hidden" id="count-error">Count must be numeric</span>
                        </div>
                        <div>
                            <label for="price">Price</label>
                            <input type="number" name="price" id="price" class="form-input" />
                            <span class="error hidden" id="price-error">Price must be numeric</span>
                        </div>
                    </div>
                    <div>
                        <br />
                        <input type="button" value="Add Item" hx-on:click="addRecord()" /> 
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>