<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTMX Test</title>
        <script src="htmx.min.js"></script>

        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <h2>HTMX Test</h2>
        <div class="flex controls">
            <div><input type="button" hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" value="Add Item" /></div>
            <div><input type="button" hx-get="/clear" hx-target="#records" value="Clear Checked" /></div>
        </div>
        <div hx-get="/records" hx-trigger="load" id="records"></div>


        <div class="modal hidden" tabindex="-1" id="modal">
            <div class="modal-body">
                <h2>Add Item</h2>
                <a hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" class="x">X</a>
                <form>
                    <div id="category-container" hx-get="/categories" hx-trigger="load"></div>
                    <div id="item-container" hx-get="/items?category=100" hx-trigger="load"></div>
                    <div class="flex">
                        <div>
                            <label for="count">Count</label><br />
                            <input type="number" name="count" id="count" class="form-input"/>
                        </div>
                        <div>
                            <label for="price">Price</label><br />
                            <input type="number" name="price" id="price" class="form-input"/>
                        </div>
                    </div>
                    <div>
                        <br />
                        <input type="button" value="Add Item" hx-post="/records" hx-target="#records"  hx-on:click="htmx.toggleClass(htmx.find('.modal'),'hidden')" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>