:root {
  color-scheme: light dark;
}

body {
    font-family:sans-serif;
    color: light-dark(#333, #FFF);
    background-color: light-dark(#FFF, #333);
}

h2 {
    font-weight: normal;
}

#dark-toggle {
    margin-top:20px;
    font-size:24px;
}

#dark-toggle a {
    cursor: pointer;
}

/* records table */

.records { 
    border-collapse:collapse;
    width:400px;
    margin-top:10px;
}

.records tr > td:last-of-type {
    text-align:right;
}

.records tr > th:last-of-type {
    text-align: right;
}

.records td { 
    border:1px solid #777;
    padding:4px;
    font-size:14px;
}

.records th { 
    border-bottom:1px solid #777;
    padding-top: 10px;
    text-align:left;
    font-size:14px;
}

.records th.category {
    font-weight:normal;
    font-size:18px;
    text-align:left !important;
}

.records td.total {
    padding-top: 10px;
    font-weight:bold;
    border-width:0px;
}


/* form elements */

form {
    clear:both;
}

input[type=button],input[type=submit]  {
    padding: 6px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width:130px;
}

.form-input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 16px;
    width: 294px;

}

label {
    display:block;
    margin-top: 10px;
    font-weight: bold;
}

.flex {
    display:flex;
}

.flex div {
    width:50%;
}

.flex div input {
    width: 130px; 
}

.controls {
    width:400px;
}

.controls > div:last-of-type {
    text-align:right;
}

/* modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* black w/ opacity */
}

.modal-body {
    background-color: light-dark(#FFF, #333);
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #777;
    z-index: 999;
}

.modal-body h2 {
    margin-top:0px;
    margin-bottom:10px;
    width: 200px;
    float: left;
}

.x {

    color: light-dark(#05b, #0af);
    border: 1px solid light-dark(#05b, #0af);
    padding: 2px 6px;
    cursor: pointer;
    float: right;
    width: 10px;    
    border-radius: 4px;
    font-size:15px;
}

.x:hover {
    text-decoration: none;
}

.error {
    color: #900;
    font-size: 12px;
}

.hidden {
    display: none;
}